@font-face {
  font-family: "BarlowSemiCondensed-SemiBold";
  src: local("BarlowSemiCondensed-SemiBold"),
    url(../../fonts/BarlowSemiCondensed-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "BarlowSemiCondensed-Bold";
  src: local("BarlowSemiCondensed-Bold"),
    url(../../fonts/BarlowSemiCondensed-Bold.ttf) format("truetype");
}
