@font-face {
  font-family: "Barlow";
  src: url(../../fonts/BarlowSemiCondensed-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Barlow";
  src: url(../../fonts/BarlowSemiCondensed-Bold.ttf);
  font-weight: 700;
}
