@import "./helpers/variables";
@import "./helpers/fonts";
@import "./elements/header";
@import "./elements/dialog";
@import "./elements/play-ground";
@import "./elements/playground-compat";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow";
  font-weight: 600;
  min-height: 100vh;
  background: radial-gradient(circle at top, $Radial-Gradient-BG) no-repeat;
  color: white;
  padding-inline: 20px;
}

footer {
  #rules-btn {
    display: block;
    margin-left: auto;
    width: 150px;
    padding: 15px;
    font-family: inherit;
    color: white;
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 1.3rem;
    border: 3px solid $Header-Outline;
    border-radius: 15px;
    cursor: pointer;
  }
}

@media (max-width: 530px) {
  footer {
    #rules-btn {
      margin: auto;
    }
  }
}
